Options +FollowSymLinks
RewriteEngine On

RewriteCond %{REQUEST_METHOD} ^GET$
RewriteCond %{REQUEST_URI} (.*)/taoDelivery/ItemDelivery/eXULiS.swf$ [NC]
RewriteRule ^(.*)$ ../taoDelivery/views/swf/eXULiS.swf [L]


#usual behavior for resources calls
RewriteCond %{REQUEST_URI} !/views/  [NC]
RewriteCond %{REQUEST_URI} !/test/  [NC]
RewriteCond %{REQUEST_URI} !/models/ext/  [NC]
RewriteCond %{REQUEST_URI} !/compiled/  [NC]
RewriteCond %{REQUEST_URI} !/locales/  [NC]
#url resolving  
RewriteRule ^(.*)$ index.php [L]
