@import url(frontend_user.css);

#welcome_message
{
	margin:15px auto 50px auto;
	font-size: 24px;
	font-weight: bold;
	padding-left: 20px;
	color: #255581;
	line-height:28px;
	text-align:center;
}
#login-box{
	width: 380px;
	margin: auto;
}
.error-message{
	padding:5px;
	font-weight:bold;	
}

/* Login form. */
#login-form
{
	margin:  0px;
	padding: 5px 0px 0px 5px;
}
#login-title
{
	margin:  0px;
	padding: 5px 0px 0px 5px;
	height: 20px;
	font-weight:bold;
	font-size: 14px;
}

/* Labels relevant to input fields of the login form. */
#login-form label 
{
	font-size: 14px;
}
 
/* Items items (lines) of the login form. Each of them
   contains a label, and an input element. */
#login-form .item
{
	position: relative;
	margin: 0px 0px 10px 0px;
	line-height: 20px;
	
	clear: both;
}

/* Input elements contained in items (lines) of the 
   login form */
#login-form .item .input
{
	position: absolute;
	display: block;
	width: 170px;
	top: 2px;	
	right: 0px;
	
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	
	border: 1px solid #A5ACB2;
}

/* Validation container of the login form containing the confirmation
   input element. */
#login-form .validation
{
	position: relative;
	padding: 10px 0px 0px 0px;
	line-height: 20px;
	
	text-align: right;
	
	clear: both;	
}

/* Confirmation input button for the login form. */
#login-form .validation .confirm
{
	color: #000000;
}