.delivery-scope {
    .section-container {
        .content-block {
            &.iframe-block {
                padding: 0;
                width: 100vw;
                height: 100vh;
                iframe {
                    width: 100vw;
                    height: 100vh
                }
            }
        }
    }
}