@import "inc/bootstrap";
@import "inc/rtl";

html {
    width: 100% !important;
}
.delivery-scope {
    min-height: 300px; // This is needed for cross-domain iframes to render the test runner correctly
    -webkit-touch-callout: none;

    .no-controls { // == .content-wrap
        margin-bottom: 0 !important;
        &:after {
            height: 0 !important;
        }
    }

    .section-container {
        .content-block {
            &.iframe-block {
                padding: 0;
                iframe {
                    width: 100%;
                }
            }
        }
    }

    .title-box {
        @include font-size(16);
        padding: 22px 40px 0;
    }

    // entry page
    .test-listing {
        display: block; //IE11 treatment for <main> tag
        width: 500px;
        margin: auto;
        h1 {
            font-family: $headingFont;
            @include font-size(22);
            font-weight: normal;
        }
        h2 {
            font-family: $headingFont;
            @include font-size(18);
            margin: 30px 0 10px;
        }
        .entry-point-box {
            margin-top: 0
        }
        .action {
            display: inline-block;
            position: absolute;
            padding: 20px;
            right: -1px;
            bottom: -1px;
            height: 62px;
            background: inherit;
            color: $actionLinkColor;
            text-shadow: none;
            border-bottom: 3px solid;
            &:focus {
                outline: 3px solid $actionLinkColor;
                outline-offset: 3px;
            }
            &:hover {
                color: $actionLinkHoverColor;
            }
        }
    }

}

.waiting-page {
    .content-wrap{
        display: flex;
        flex-direction: column;
    }
}
