<?php
/**
 * main configuration file
 */

# plugins directory
define("DIR_PLUGIN"			, dirname(__FILE__). "/../plugins/");

# actions directory
define("DIR_ACTIONS"		, dirname(__FILE__). "/../actions/");

# models directory
define("DIR_MODELS"			, dirname(__FILE__). "/../models/");

# plugin directory
define('DIR_PLUGINS'		, dirname(__FILE__).'/../plugins/');

# views directory
define("DIR_VIEWS"			, "views/");

# helpers directory
define("DIR_HELPERS"		, dirname(__FILE__) . "/../helpers/");


# session namespace
define('SESSION_NAMESPACE', 'ClearFw');

# default module name
define('DEFAULT_MODULE_NAME', 'Tests');

#default action name
define('DEFAULT_ACTION_NAME', 'index');

$GLOBALS['classpath']			= array(DIR_CORE,
										DIR_CORE_UTILS,
										DIR_ACTIONS,
										DIR_MODELS);

# theme directory
$GLOBALS['dir_theme']		= "templates/";

# Process Browser page title.
define('PROCESS_BROWSER_TITLE', 'Process BrowserEngine');

#BASE PATH: the root path in the file system (usually the document root)
define('BASE_PATH', ROOT_PATH . '/taoDelivery');

#BASE URL (usually the domain root)
define('BASE_URL', ROOT_URL . '/taoDelivery');

#BASE WWW the web resources path
define('BASE_WWW', BASE_URL . '/' . DIR_VIEWS);

#export resources path
define('EXPORT_PATH', 	BASE_PATH . '/' . DIR_VIEWS . 'export');
define('EXPORT_URL', 	BASE_URL  . '/' . DIR_VIEWS . 'export');

#TAO extension Paths
define('TAOBASE_WWW',  ROOT_URL  . '/tao/' . DIR_VIEWS);
define('TAOVIEW_PATH', ROOT_PATH . '/tao/' . DIR_VIEWS);
define('TAO_TPL_PATH', ROOT_PATH . '/tao/' . DIR_VIEWS . $GLOBALS['dir_theme']);

?>