<?php
/**
 * main configuration file
 */
# actions directory
define("DIR_ACTIONS"		, dirname(__FILE__). "/../actions/");

# models directory
define("DIR_MODELS"			, dirname(__FILE__). "/../models/");

# views directory
define("DIR_VIEWS"			, dirname(__FILE__). "/../views/");

# helpers directory
define("DIR_HELPERS"		, dirname(__FILE__) . "/../helpers/");

define('CACHE_PATH'			, ROOT_PATH . '/tao/data/cache/');

# default module name
define('DEFAULT_MODULE_NAME', 'DeliveryServerAuthentification');

#default action name
define('DEFAULT_ACTION_NAME', 'index');

$GLOBALS['classpath']			= array(DIR_CORE,
										DIR_CORE_UTILS,
										DIR_ACTIONS,
										DIR_MODELS);

# theme directory
$GLOBALS['dir_theme']		= "templates/";

# Next/Previous button usable or not.
define('USE_NEXT',			true);
define('USE_PREVIOUS',		true);
define('FORCE_NEXT',		true);

#BASE PATH: the root path in the file system (usually the document root)
define('BASE_PATH', ROOT_PATH . '/taoDelivery');

#BASE URL (usually the domain root)
define('BASE_URL', ROOT_URL . '/taoDelivery');

#BASE WWW the web resources path
define('BASE_WWW', BASE_URL . '/views/');

#the path were the event logs are saved
define('EVENT_LOG_PATH', ROOT_PATH . '/taoResults/data');

#PROCESS BASE WWW the web path of the process authoring tool
define('PROCESS_TPL_PATH', ROOT_PATH . '/wfEngine/views/templates/authoring/');
define('PROCESS_BASE_WWW', ROOT_URL. '/wfEngine/views/');
define('PROCESS_BASE_PATH', ROOT_PATH. '/wfEngine');
define('PROCESS_SCRIPT_URL', PROCESS_BASE_WWW  . 'js/authoring/');

#TAO extension Paths
define('TAOBASE_WWW',  ROOT_URL  . '/tao/views/');
define('TAOVIEW_PATH', ROOT_PATH . '/tao/views/');
define('TAO_TPL_PATH', TAOVIEW_PATH . $GLOBALS['dir_theme']);

#default wsdl contract on localhost:
define('LOCAL_RESULT_SERVER',  BASE_URL."/taoDelivery/DeliveryServer/resultUploadWsdl");

#items BASE URL
define('TAO_ITEMS_BASE_URL', ROOT_URL . '/taoItems');

#test compilation maximum execution time
define('TEST_COMPILATION_TIME', 300);

#export resources path
define('EXPORT_PATH', 	BASE_PATH . '/views/export');

?>